
<div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-target="#map">
        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> Map</button>
      <div id='map' class="collapse in"></div>
    </div>
    <div class="panel-body">
        <h4 style="padding-left: 15px"> {{photos.length}} photos in this subscription</h4>
        <a ng-repeat="photo in filteredPhotos" ng-href="{{photo.link}}" target="_blank"><img class="photo center-cropped" ng-src="{{photo.thumbnail}}" err-src="assets/no-img.png"></a>
    </div>
    <div class="panel-footer">
      <pagination
              ng-model="currentPage"
              total-items="photos.length"
              items-per-page="35"
              max-size="maxSize"
              boundary-links="true"
              first-text="<<"
              last-text=">>"
              previous-text="<"
              next-text=">"
              style="margin-top: -3px; margin-bottom: -8px;">
      </pagination>
    </div>
</div>
