<div class="panel panel-default">
  <div id="chart" style="min-width: 340px; height: 500px; margin: 0 auto"></div>
  <table class="table table-hover">
  <thead>
	<tr>
	  <th width="150px">Control</th>
	  <th class="hidden-xs" colspan="3">Location</th>
    <th>Instagram</th>
    <th>VK</th>
    <th>Time</th>
    <th class="hidden-xs">From</th>
	</tr>
</thead>
  <tbody>
    <tr ng-repeat="sub in filteredSubs" data-ng-class="{success: sub.state}">
	    <td><a class="btn btn-info btn-xs" href="#/subs/{{sub.short}}" >Open</a>
	    	<a href="#/admin" class="btn btn-danger btn-xs" ng-click="unSub(sub.id)" ng-show="sub.state">UnSub</a></td>
		<td class="hidden-xs">{{sub.lat}} </td><td class="hidden-xs">{{sub.lng}} </td><td class="hidden-xs">{{sub.distance}}m</td>
    <td>{{sub.count}}</td>
    <td>{{sub.count_vk}}</td>
    <td>
      {{sub.time}}
		</td>
    <td class="hidden-xs">{{sub.origin}}</td>
	</tr>
</tbody>
  </table>
  <div class="panel-footer">
    <pagination
            ng-model="currentPage"
            total-items="subs.length"
            items-per-page="10"
            max-size="maxSize"
            boundary-links="true"
            first-text="<<"
            last-text=">>"
            previous-text="<"
            next-text=">"
            style="margin-top: -3px; margin-bottom: -8px;">
    </pagination>
  </div>
</div>
