<div class="panel panel-default">

    <div class="panel-body">
        <div id='map'></div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-sm-2">Longitude:</div>
            <div class="col-sm-4">{{myloc.lng}}</div>
            <div class="col-sm-2">Latitude:</div>
            <div class="col-sm-4">{{myloc.lat}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2">Radius ({{ myloc.radius }} m)</div>
            <div class="col-sm-4">
              <input id="R" type="text" class="span2" value="" data-slider-min="100" data-slider-max="5000" data-slider-step="100" data-slider-value="100" data-slider-selection="after">
            </div>
            <div class="col-sm-2">Time (-{{ myloc.hours }} h)</div>
            <div class="col-sm-4">
              <input id="H" type="text" class="slider" value="" data-slider-min="1" data-slider-max="48" data-slider-step="1" data-slider-value="48" data-slider-selection="after">
            </div>
        </div>

        <a href="#" class="btn btn-success btn" ng-click="subscribe()" ng-show="myloc_ready()" style="margin: 5px">Subscribe</a>
        <a href="#" class="btn btn-success btn" ng-hide="myloc_ready()" style="margin: 5px" disabled>Subscribe</a>

    </div>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="15000">
  <strong>{{alert.msg}}</strong> Follow <a ng-href={{alert.link}} class="alert-link">link</a> to subscription.</alert>
